<% include partial/head %>
<% include partial/nav %>
<% if(error) { %>
          <div class = "alert alert-danger alert-dismissable">
              <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
            <%= error %>
          </div>
          <% } %>
<% include partial/footer %>