<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js">
<!--<![endif]-->

<head>
	<!-- BASICS -->
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<title>GREEN responsive bootstraap template</title>
	<meta name="description" content="">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" type="text/css" href="css/isotope.css" media="screen" />
	<link rel="stylesheet" href="js/fancybox/jquery.fancybox.css" type="text/css" media="screen" />
	<link rel="stylesheet" href="css/bootstrap.css">
	<link rel="stylesheet" href="css/bootstrap-theme.css">
	<link href="css/responsive-slider.css" rel="stylesheet">
	<link rel="stylesheet" href="css/animate.css">
	<link rel="stylesheet" href="css/style.css">

	<link rel="stylesheet" href="css/font-awesome.min.css">
	<!-- skin -->
	<link rel="stylesheet" href="skin/default.css">

</head>

<body>


	<div class="header">
		<section id="header" class="appear">

			<div class="navbar navbar-fixed-top" role="navigation" data-0="line-height:100px; height:100px; background-color:rgba(0,0,0,0.3);"
				data-300="line-height:60px; height:60px; background-color:rgba(0,0,0,1);">

				<div class="navbar-header">
					<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
						<span class="fa fa-bars color-white"></span>
					</button>
					<h1><a class="navbar-brand" href="/" data-0="line-height:90px;" data-300="line-height:50px;">GREEN
					</a></h1>
				</div>
				<div class="navbar-collapse collapse">
					<ul class="nav navbar-nav" data-0="margin-top:20px;" data-300="margin-top:5px;">
						<li class="active"><a href="/">Home</a></li>
						<li><a href="#section-about">About</a></li>
						<li><a href="#team">Team</a></li>
						<li><a href="#section-works">Portfolio</a></li>

					</ul>
				</div>
				<!--/.navbar-collapse -->
	</div>


	</section>
	</div>


	<div class="slider">
		<div id="about-slider">
			<div id="carousel-slider" class="carousel slide" data-ride="carousel">
				<!-- Indicators -->
				<ol class="carousel-indicators visible-xs">
					<li data-target="#carousel-slider" data-slide-to="0" class="active"></li>
					<li data-target="#carousel-slider" data-slide-to="1"></li>
					<li data-target="#carousel-slider" data-slide-to="2"></li>
				</ol>

				<div class="carousel-inner">
					<div class="item active">
						<img src="img/1.jpg" class="img-responsive" alt="">
						<div class="carousel-caption">
							<div class="wow fadeInUp" data-wow-offset="0" data-wow-delay="0.3s">
								<h2><span>Green Club Nigeria</span></h2>
							</div>
							<div class="col-md-10 col-md-offset-1">
								<div class="wow fadeInUp" data-wow-offset="0" data-wow-delay="0.6s">
									<p>Making our environment cleaner and safer for all to enjoy.</p>
								</div>
							</div>
							<div class="wow fadeInUp" data-wow-offset="0" data-wow-delay="0.9s">

								<div class="form-group">
									<a href="/signIn" class="line-btn light">Get Started</a>
								</div>


							</div>
						</div>
					</div>

					<div class="item">
						<img src="img/2.jpg" class="img-responsive" alt="">
						<div class="carousel-caption">
							<div class="wow fadeInUp" data-wow-offset="0" data-wow-delay="1.0s">
								<h2><span>Green Club Nigeria</span></h2>
							</div>
							<div class="col-md-10 col-md-offset-1">
								<div class="wow fadeInUp" data-wow-offset="0" data-wow-delay="0.6s">
									<p>Making our environment cleaner and safer for all to enjoy.</p>
								</div>
							</div>
							<div class="wow fadeInUp" data-wow-offset="0" data-wow-delay="1.6s">
								<div class="form-group">
									<a href="/signIn" class="line-btn light">Get Started</a>
								</div>
							</div>
						</div>
					</div>
				</div>

				<a class="left carousel-control hidden-xs" href="#carousel-slider" data-slide="prev">
					<i class="fa fa-angle-left"></i>
				</a>

				<a class=" right carousel-control hidden-xs" href="#carousel-slider" data-slide="next">
					<i class="fa fa-angle-right"></i>
				</a>
			</div>
			<!--/#carousel-slider-->
		</div>
		<!--/#about-slider-->
	</div>
	<!--/#slider-->

	<!--about-->
	<section id="section-about">
		<div class="container">
			<div class="about">
				<div class="row mar-bot40">
					<div class="col-md-offset-3 col-md-6">
						<div class="title">
							<div class="wow bounceIn">

								<h2 class="section-heading animated" data-animation="bounceInUp">About Us</h2>


							</div>
						</div>
					</div>
				</div>
				<div class="row">

					<div class="row-slider">
						<div class="col-lg-6 mar-bot30">
							<div class="responsive-slider" data-spy="responsive-slider" data-autoplay="true">
								<div class="slides" data-group="slides">
									<ul>

										<div class="slide-body" data-group="slide">
											<li><img alt="" class="img-responsive" src="img/Graph.jpeg" width="50%" height="50%" /></li>
											<li><img alt="" class="img-responsive" src="img/Logo.jpeg" width="100%" height="50%" /></li>
											<!--<li><img alt="" class="img-responsive" src="img/11.jpg" width="100%" height="350" /></li>-->

										</div>
									</ul>
									<a class="slider-control left" href="#" data-jump="prev"><i class="fa fa-angle-left fa-2x"></i></a>
									<a class="slider-control right" href="#" data-jump="next"><i class="fa fa-angle-right fa-2x"></i></a>

								</div>
							</div>
						</div>

						<div class="col-lg-6 ">
							<div class="company mar-left10">
								<h4><span>GREEN CLUB Nigeria</span></h4>
								<p>The green club raises awareness of how to properly take care of the environment. It gives students the plaform they
									need to take action on the environmental issues they feel passionate about. Channeling student energy into a green
									club will let students take leadership role in identifying and achieving the school’s environmental goal.
								</p>
							</div>
							<div class="list-style">
								<div class="row">
									<div class="col-lg-6 col-sm-6 col-xs-12">
										<h3>Aims</h3>
										<ul>
											<li>Motivate students to value their environment.</li>
											<li>Encourage students to assume responsibility of their environment</li>
											<li>Encourage positive peer influence</li>
											<li>Strengthen collaboration among students</li>
										</ul>
									</div>
									<div class="col-lg-6 col-sm-6 col-xs-12">
										<h3>Objectives</h3>
										<ul>
											<li>Increase the students’ knowledge, awareness and sensitivity about the environment and environmental challenges</li>
											<li>Create an understanding about the environment and environmental challenges
											</li>
											<li>Develop the necessary skills and expertise to address the challenges</li>
											<li>Foster attitudes, motivations, and commitments to make informed decisions and take responsible action related
												to the environment.</li>
										</ul>
									</div>
								</div>
							</div>
						</div>

					</div>
				</div>

			</div>

		</div>
	</section>
	<!--/about-->

	<!-- spacer section:testimonial -->
	<section id="testimonials-3" class="section" data-stellar-background-ratio="0.5">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<div class="align-center">
						<div class="testimonial pad-top40 pad-bot40 clearfix">
							<h5>
								The greatest threat to the planet is the belief that someone else will save it.
							</h5>
							<br/>
							<span class="author">&mdash; Robert Swan</span>
						</div>

					</div>
				</div>
			</div>

		</div>

	</section>

	<!-- team -->
	<section id="team" class="team-section appear clearfix">
		<div class="container">

			<div class="row mar-bot10">
				<div class="col-md-offset-3 col-md-6">
					<div class="section-header">
						<div class="wow bounceIn">

							<h2 class="section-heading animated" data-animation="bounceInUp"><a href="#" class="line-btn light">Our Team</a></h2>
							

						</div>
					</div>
				</div>
			</div>

			<div class="row align-center mar-bot45">
				<div class="col-md-4">
					<div class="wow bounceIn" data-animation-delay="4.8s">
						<div class="team-member">
							<div class="profile-picture">
								<figure><img src="img/Jennifer.jpg" alt=""></figure>
								<div class="profile-overlay"></div>
								<div class="profile-social">
									<div class="icons-wrapper">
										<a href="#"><i class="fa fa-facebook"></i></a>
										<a href="#"><i class="fa fa-twitter"></i></a>
										<a href="#"><i class="fa fa-linkedin"></i></a>
										<a href="#"><i class="fa fa-pinterest"></i></a>
										<a href="#"><i class="fa fa-google-plus"></i></a>
									</div>
								</div>
							</div>
							<div class="team-detail">
								<h4>AMARAIBI, Rarosue Jennifer</h4>
								<span>Co-founder</span>
							</div>
							<div class="team-bio">
								<p>A graduate of Chemical Engineering from Covenant University, Ota. Passionate about safeguarding our environment and
									constantly seek ways to improve and make it better for all. My passion for the environment keeps me sprung on key
									identifiers to global warming and innovations in sustainable fuels that cause lesser threats to our climate and
									health. Also the CEO of Soloqui Enterprise, an alternative energy company that offers clean, cheap and renewable
									source of energy called biogas through the installation of biogas systems within the Nigerian community. An environmentalist
									once remarked, “We are living on this planet as if we had another one to go.” Given the limited prospect of colonizing
									another planet soon, I intend on playing my part as a chemical engineer by providing clean energy that would help
									reduce the carbon footprint on earth and keep it a safe place for us to live.</p>
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-4">

					<div class="wow bounceIn">
						<div class="team-member">
							<div class="profile-picture">
								<figure><img src="img/Femi.jpg" alt=""></figure>
								<div class="profile-overlay"></div>
								<div class="profile-social">
									<div class="icons-wrapper">
										<a href="#"><i class="fa fa-facebook"></i></a>
										<a href="#"><i class="fa fa-twitter"></i></a>
										<a href="#"><i class="fa fa-linkedin"></i></a>
										<a href="#"><i class="fa fa-pinterest"></i></a>
										<a href="#"><i class="fa fa-google-plus"></i></a>
									</div>
								</div>
							</div>
							<div class="team-detail">
								<h4>Femi Akintoye</h4>
								<span>Co-founder</span>
							</div>
							<div class="team-bio">
								<p>My name is Femi Akintoye. I graduated from the federal university of technology akure where I studied Agricultural
									and environmental engineering. I am a passionate Person when it comes to the environment, my passion made me go
									further to acquire an Health safety and environment certification because I have come to discover our lives depend
									on our environment as much as our environment depend on us for life. "The environment and the economy are both two
									sides of the same coin. If we cannot sustain our environment we cannot sustain ourselves " - Wangari Maathai.</p>
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-4">
					<div class="wow bounceIn">
						<div class="team-member">
							<div class="profile-picture">
								<figure><img src="img/Cythia.jpg" alt=""></figure>
								<div class="profile-overlay"></div>
								<div class="profile-social">
									<div class="icons-wrapper">
										<a href="#"><i class="fa fa-facebook"></i></a>
										<a href="#"><i class="fa fa-twitter"></i></a>
										<a href="#"><i class="fa fa-linkedin"></i></a>
										<a href="#"><i class="fa fa-pinterest"></i></a>
										<a href="#"><i class="fa fa-google-plus"></i></a>
									</div>
								</div>
							</div>
							<div class="team-detail">
								<h4>Cynthia Ebie</h4>
								<span>Secretary</span>
							</div>
							<div class="team-bio">
								<p>Cynthia Ebie popularly known as Valerie is a native of Agbor, Delta State and currently lives in ikotun, Lagos. She
									started her academic career in the year 1998 through to the year 2015 where she bagged her Bsc hons in Biochemistry
									from the University of Benin. While in school, she involved herself in series of club activities one of which was
									the researchers club of the department of biochemistry. Her interest in environmental science sprouted when she
									all by herself read a book on the causes, effect, solutions of climatic change and also her cousin's deepened interest
									in environmental issues drew her closely. Cynthia Ebie is a lover of God, people, music and her environment.
								</p>
							</div>
						</div>
					</div>
				</div>
				
			</div>

		</div>
	</section>

	<!-- spacer section:testimonial -->
	<section id="testimonials-2" class="section" data-stellar-background-ratio="0.5">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<div class="align-center">
						<div class="testimonial pad-top40 pad-bot40 clearfix">
							<h5>
								The environment and the economy are really both two sides of the same coin, if we cannot protect our environment, we cannot sustain ourselves
							</h5>
							<br/>
							<span class="author">&mdash; Wangari Maathai</span>
						</div>

					</div>
				</div>
			</div>

		</div>

	</section>

	<!-- section works -->
	<section id="section-works" class="section appear clearfix">
		<div class="container">

			<div class="row mar-bot40">
				<div class="col-md-offset-3 col-md-6">
					<div class="section-header">
						<h2 class="section-heading animated" data-animation="bounceInUp"><a href="#" class="line-btn light">Portfolio</a></h2>
						
					</div>
				</div>
			</div>

			<div class="row">
				
				<div class="col-md-12">
					<div class="row">
						<div class="portfolio-items isotopeWrapper clearfix" id="3">

							<article class="col-md-4 isotopeItem webdesign">
								<div class="portfolio-item">
									<div class="wow rotateInUpLeft" data-animation-delay="4.8s">
										<img src="img/portfolio/green1.jpeg" alt="welcome" width="350px" height="350px" />
									</div>
									<div class="portfolio-desc align-center">
										<div class="folio-info">
											<h5><a href="#">Project name 1</a></h5>
											<a href="img/portfolio/green1.jpeg" class="fancybox"><i class="fa fa-external-link fa-2x"></i></a>
										</div>
									</div>
								</div>
							</article>

							<article class="col-md-4 isotopeItem photography">
								<div class="portfolio-item">
									<div class="wow bounceIn">
										<img src="img/portfolio/green2.jpeg" alt="" width="350px" height="350px" />
									</div>
									<div class="portfolio-desc align-center">
										<div class="folio-info">
											<h5><a href="#">Project name 2</a></h5>
											<a href="img/portfolio/green2.jpeg" class="fancybox"><i class="fa fa-external-link fa-2x"></i></a>
										</div>
									</div>
								</div>
							</article>


							<article class="col-md-4 isotopeItem photography">
								<div class="portfolio-item">
									<div class="wow rotateInDownRight">
										<img src="img/portfolio/green3.jpeg" alt="" width="350px" height="350px" />
									</div>
									<div class="portfolio-desc align-center">
										<div class="folio-info">
											<h5><a href="#">Project name 3</a></h5>
											<a href="img/portfolio/green3.jpeg" class="fancybox"><i class="fa fa-external-link fa-2x"></i></a>
										</div>
									</div>
								</div>
							</article>

							<article class="col-md-4 isotopeItem print">
								<div class="portfolio-item">
									<div class="wow rotateInUpLeft">
										<img src="img/portfolio/green4.jpeg" alt="" width="350px" height="350px" />
									</div>
									<div class="portfolio-desc align-center">
										<div class="folio-info">
											<h5><a href="#">Project name 4</a></h5>
											<a href="img/portfolio/green4.jpeg" class="fancybox"><i class="fa fa-external-link fa-2x"></i></a>
										</div>
									</div>
								</div>
							</article>

							<article class="col-md-4 isotopeItem photography">
								<div class="portfolio-item">
									<div class="wow bounceIn">
										<img src="img/portfolio/green5.jpeg" alt="" width="350px" height="350px" />
									</div>
									<div class="portfolio-desc align-center">
										<div class="folio-info">
											<h5><a href="#">Project name 5</a></h5>
											<a href="img/portfolio/green5.jpeg" class="fancybox"><i class="fa fa-external-link fa-2x"></i></a>
										</div>
									</div>
								</div>
							</article>

							<article class="col-md-4 isotopeItem webdesign">
								<div class="portfolio-item">
									<div class="wow rotateInDownRight">
										<img src="img/portfolio/green6.jpeg" alt="" width="350px" height="350px" />
									</div>
									<div class="portfolio-desc align-center">
										<div class="folio-info">
											<h5><a href="#">Project name 6</a></h5>
											<a href="img/portfolio/green6.jpeg" class="fancybox"><i class="fa fa-external-link fa-2x"></i></a>
										</div>
									</div>
								</div>
							</article>

							<article class="col-md-4 isotopeItem print">
								<div class="portfolio-item">
									<div class="wow rotateInUpLeft">
										<img src="img/portfolio/green7.jpg" alt="" width="350px" height="350px" />
									</div>
									<div class="portfolio-desc align-center">
										<div class="folio-info">
											<h5><a href="#">Project name 7</a></h5>
											<a href="img/portfolio/green7.jpg" class="fancybox"><i class="fa fa-external-link fa-2x"></i></a>
										</div>
									</div>
								</div>
							</article>

							<!--<article class="col-md-4 isotopeItem photography">
								<div class="portfolio-item">
									<div class="wow bounceIn">
										<img src="img/portfolio/8.jpg" alt="" />
									</div>
									<div class="portfolio-desc align-center">
										<div class="folio-info">
											<h5><a href="#">Project name 8</a></h5>
											<a href="img/portfolio/8.jpg" class="fancybox"><i class="fa fa-external-link fa-2x"></i></a>
										</div>
									</div>
								</div>
							</article>

							<article class="col-md-4 isotopeItem print">
								<div class="portfolio-item">
									<div class="wow rotateInDownRight">
										<img src="img/portfolio/9.jpg" alt="" />
									</div>
									<div class="portfolio-desc align-center">
										<div class="folio-info">
											<h5><a href="#">Project name 9</a></h5>
											<a href="img/portfolio/9.jpg" class="fancybox"><i class="fa fa-external-link fa-2x"></i></a>
										</div>
									</div>
								</div>
							</article>-->
						</div>

					</div>


				</div>
			</div>

		</div>
	</section>
	<section id="parallax2" class="section parallax" data-stellar-background-ratio="0.5">
		<div class="align-center pad-top40 pad-bot30">
			<p class="color-white">There are alot more of us that care about the environment and the world than we realize. We are the majority and we can do something about it.</p>
		</div>
	</section>

<!-- map -->
	<!--<section id="section-map" class="clearfix">
			<div id="google-map" data-latitude="40.713732" data-longitude="-74.0092704"></div>
		</section>-->

	<section id="footer" class="section footer">
		<div>
			<h2 class = "align-center">Stay Connected with Green Club Nigeria</h2>
		</div>
		<div class="container">
			<div class="row animated opacity mar-bot0" data-andown="fadeIn" data-animation="animation">
				<div class="col-sm-12 align-center">
					<ul class="social-network social-circle">
						<li><a href="#" class="icoRss" title="Rss"><i class="fa fa-rss"></i></a></li>
						<li><a href="#" class="icoFacebook" title="Facebook"><i class="fa fa-facebook"></i></a></li>
						<li><a href="#" class="icoTwitter" title="Twitter"><i class="fa fa-twitter"></i></a></li>
						<li><a href="#" class="icoGoogle" title="Google +"><i class="fa fa-google-plus"></i></a></li>
						<li><a href="#" class="icoLinkedin" title="Linkedin"><i class="fa fa-linkedin"></i></a></li>
					</ul>
				</div>
			</div>

			<div class="row align-center copyright">
				<div class="col-sm-12">
					<p>&copy; GREEN FOREVER</p>
					<div class="credits">
						<!-- 
                                All the links in the footer should remain intact. 
                                You can delete the links only if you purchased the pro version.
                                Licensing information: https://bootstrapmade.com/license/
                                Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/buy/?theme=Green
                            -->
						Green Club Nigeria by Efekemo Eguonoghene
					</div>
				</div>
			</div>
		</div>

	</section>
	<a href="#header" class="scrollup"><i class="fa fa-chevron-up"></i></a>

	<script src="js/modernizr-2.6.2-respond-1.1.0.min.js"></script>
	<script src="js/jquery.js"></script>
	<script src="js/jquery.easing.1.3.js"></script>
	<script src="js/bootstrap.min.js"></script>
	<script src="https://maps.google.com/maps/api/js?sensor=true"></script>
	<script src="js/jquery.isotope.min.js"></script>
	<script src="js/jquery.nicescroll.min.js"></script>
	<script src="js/fancybox/jquery.fancybox.pack.js"></script>
	<script src="js/skrollr.min.js"></script>
	<script src="js/jquery.scrollTo-1.4.3.1-min.js"></script>
	<script src="js/jquery.localscroll-1.2.7-min.js"></script>
	<script src="js/stellar.js"></script>
	<script src="js/responsive-slider.js"></script>
	<script src="js/jquery.appear.js"></script>
	<script src="js/grid.js"></script>
	<script src="js/main.js"></script>
	<script src="js/wow.min.js"></script>
	<script>
		wow = new WOW({}).init();
	</script>
	<script src="contactform/contactform.js"></script>

</body>

</html>