<head>
      <title>Green Club Nigeria | Dashboard</title>
      <link type="text/css" rel="stylesheet" href="lib/bootstrap/dist/css/bootstrap.min.css"  media="screen,projection"/>
      <link type="text/css" rel="stylesheet" href="css/custom.css"  media="screen,projection"/>
      <link rel="shortcut icon" type="image/jpeg" href="img/green-club-logo.jpeg" sizes="16x16 32x32 64x64">
      <link rel="apple-touch-icon" sizes="120x120" href="img/green-club-logo.jpeg">

      <!--Let browser know website is optimized for mobile-->
      <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
</head>
  <body id="form_layout">
    <div class="container">
      <div class="row text-center">
        <img class="img-rounded" src="/img/green-club-logo.jpeg" alt="AuthApp Login Image">
        <h2 class="heading text-primary">Green Club Nigeria | Login</h2>
      </div>
      <div class="row">
        
          <% if(error) { %>
          <div class = "alert alert-danger alert-dismissable">
              <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
            <%= error %>
          </div>
          <% } %>
        
        <form class="form-signin" method = 'post' action = '/signIn'>
          <br>
          <label for="email" class="sr-only">Email address</label>
          <input type="email" id="email" name="email" class="form-control" placeholder="Email address" required autofocus>
          <label for="password" class="sr-only">Password</label>
          <input type="password" id="password" name="password" class="form-control" placeholder="Password" required>

          <button class="btn btn-primary btn-block" type="submit">Sign In</button>
          <br>
          <p>No Account? <a href="/signUp">Create An Account</a></p>
        </form>
      </div>
    </div>
    <% include partial/footer %>
  </body>